# Objetos y binarios de .NET (¡Lo más importante!)
[Bb]in/
[Oo]bj/
out/

# Archivos de publicación
publish/
*.pfx
*.publishsettings

# Bases de Datos y Docker
.docker/
# Si usas SQLite para pruebas rápidas en Mac
*.db
*.db-journal

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Archivos de usuario y secretos (Para que no se suban tus passwords de Docker)
appsettings.Development.json
appsettings.Local.json

# macOS (Archivos ocultos del sistema)
.DS_Store
.AppleDouble
.LSOverride
Icon
.fake